<a href="https://colab.research.google.com/github/sangramdhurve/Data-science/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



```
# This is formatted as code
```

#  MODULE :  Pandas

## 1D Data structure :  The Series

In [ ]:
from pandas import *
from numpy import *
import numpy as np
from scipy import *
Series1  = Series([1, 2, 3, 4])
print("Series 1 is : ",Series1)

Series 1 is :  0    1
1    2
2    3
3    4
dtype: int64

In [ ]:
# Extracting the Index and Values separately from a Series 
Series1_Val = Series1.values
Series1_Idx = Series1.index
print("Series values ",Series1_Val)
print("Series Indices ",Series1_Idx)

Series values  [1 2 3 4]
Series Indices  RangeIndex(start=0, stop=4, step=1)

In [ ]:
#------
# Specifying a Series with Indics pre defined
#-----
Series2 = Series([1,2,3,4], index=['a','b','c','d'])
print("Series2 = ",Series2)

Series2 =  a    1
b    2
c    3
d    4
dtype: int64

In [ ]:
print("data type of Series2 is : ",Series2.dtype)

data type of Series2 is :  int64

In [ ]:
# Check Data Type of Array 
array_data1 = [1,2,3,4]
Array1 = array(array_data1)
print("data type of Array1 is : ",Array1.dtype)

data type of Array1 is :  int64

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: DeprecationWarning: scipy.array is deprecated and will be removed in SciPy 2.0.0, use numpy.array instead
  This is separate from the ipykernel package so we can avoid doing imports until

### Dictionary and Series

In [ ]:
#-------------------------------------------
# Converting Dictionary to Series 
#------------------------------------------
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
Series_State = Series(sdata)
# Now Check if Indices have the Keys 
print("Indices of Series are Keys of Dict: ",Series_State.index)

Indices of Series are Keys of Dict:  Index(['Ohio', 'Texas', 'Oregon', 'Utah'], dtype='object')

In [ ]:
# Now check if the key value comes in values 
print("Value of the Series is the Value of the Dict: ",Series_State.values)

Value of the Series is the Value of the Dict:  [35000 71000 16000  5000]

In [ ]:
# Now consider passing Only key Values  with A Invalid Key 
States1 = ['Ohio','Texas','Oregon','California']
Series_State2 = Series(sdata,index=States1)
# Check Values now with this Key 
print("Values based on new key set ",Series_State2.values)
# Observe the NA in the position of the invalid key

Values based on new key set  [35000. 71000. 16000.    nan]

In [ ]:
# ----------------------------------------------------------------
# Detecting missing data in series
#-----------------------------------------------------------------
NullCheck = isnull(Series_State2)
print("NullCheck is :  " ,NullCheck)

NullCheck is :   Ohio          False
Texas         False
Oregon        False
California     True
dtype: bool

In [ ]:
# ------------------------------------------------------------
# Naming the index and the Value Attributes in a Series 
#------------------------------------------------------------
Series_State.name = 'population'
Series_State.index.name = 'State'
print("State Series ", Series_State)

State Series  State
Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
Name: population, dtype: int64

## Data Frames

In [ ]:
# Create a Data Frame from a Equal length list or numpy arrays 
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
'year': [2000, 2001, 2002, 2001, 2002],
'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}

# Check data type to confirm its a dictionary 
type(data)

dict

In [ ]:
print(data.keys())

dict_keys(['state', 'year', 'pop'])

In [ ]:
# Display the keys of this dictionary
print(data.keys())

# Convert to Dataframe 
df = DataFrame(data)

# Display the DataFrame 
print(df)
# Note column names are in alphabetical order

dict_keys(['state', 'year', 'pop'])
    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9

In [ ]:
# Customize column sequence 
df_new = DataFrame(data, columns=['year', 'state', 'pop'])
print(df_new)

# Retrieving col information 
State_Data = df_new.state

# Display Retrieved Col 
print(State_Data )

   year   state  pop
0  2000    Ohio  1.5
1  2001    Ohio  1.7
2  2002    Ohio  3.6
3  2001  Nevada  2.4
4  2002  Nevada  2.9
0      Ohio
1      Ohio
2      Ohio
3    Nevada
4    Nevada
Name: state, dtype: object

In [ ]:
# Check the indices for this dataframe
df_new.index

# Print data for index position 2 
#print(df_new.ix[2])

RangeIndex(start=0, stop=5, step=1)

In [ ]:
# Re set data values - Year col all set to a scalar 
df_new['year'] = 2001

# re check data in this data frame : All year values changed to 2001 
print(df_new)

   year   state  pop
0  2001    Ohio  1.5
1  2001    Ohio  1.7
2  2001    Ohio  3.6
3  2001  Nevada  2.4
4  2001  Nevada  2.9

In [ ]:
# Create a New column 
df_2 = DataFrame(data, columns=['year', 'state', 'pop', 'debt'])

# display new data frame 
print(df_2)

   year   state  pop debt
0  2000    Ohio  1.5  NaN
1  2001    Ohio  1.7  NaN
2  2002    Ohio  3.6  NaN
3  2001  Nevada  2.4  NaN
4  2002  Nevada  2.9  NaN

In [ ]:
# Fill Data in specified index positions in New Col 
val = Series([-1.2, -1.5, -1.7], index=[0, 1, 2])
df_2['debt'] = val 

# Display Dataframe again 
print(df_2 )

   year   state  pop  debt
0  2000    Ohio  1.5  -1.2
1  2001    Ohio  1.7  -1.5
2  2002    Ohio  3.6  -1.7
3  2001  Nevada  2.4   NaN
4  2002  Nevada  2.9   NaN

In [ ]:
# Create a Computed Column 
# Just assign a column which does not exist 
# eg create a col which is true f state is Eastern State of Ohio 
df_2["Eastern"] = df_2.state == 'Ohio'

# Display  again 
print(df_2)

   year   state  pop  debt  Eastern
0  2000    Ohio  1.5  -1.2     True
1  2001    Ohio  1.7  -1.5     True
2  2002    Ohio  3.6  -1.7     True
3  2001  Nevada  2.4   NaN    False
4  2002  Nevada  2.9   NaN    False

In [ ]:
# Delete a column 
del df_2["Eastern"]
# Display again 
print(df_2)

   year   state  pop  debt
0  2000    Ohio  1.5  -1.2
1  2001    Ohio  1.7  -1.5
2  2002    Ohio  3.6  -1.7
3  2001  Nevada  2.4   NaN
4  2002  Nevada  2.9   NaN

In [ ]:
#-------------------------------------
# Creating a Data Frame from a nested dict of dicts 
#-------------------------------------------------------------
pop = {'Nevada': {2001: 2.4, 2002: 2.9},
        'Ohio': {2000: 1.5, 2001: 1.7, 2002: 3.6}}
df_3 = DataFrame(pop) 
# Display 
print(df_3 )

      Nevada  Ohio
2001     2.4   1.7
2002     2.9   3.6
2000     NaN   1.5

In [ ]:
# We can transpose as well 
df_3_T = df_3.T 
# Display Transposed 
print(df_3.T )

        2001  2002  2000
Nevada   2.4   2.9   NaN
Ohio     1.7   3.6   1.5

### More on Data Frames and  Indexing

In [ ]:
# Create data Frame Note: Matrix fills By Row as default 
DF = DataFrame(np.arange(16).reshape((4, 4)),
  index=['Ohio', 'Colorado', 'Utah', 'New York'],
  columns=['one', 'two', 'three', 'four'])
  
 # Display DF 
DF

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [ ]:
# drop rows 
DF_1 = DF.drop(['Colorado', 'Ohio'])
# Display DF
DF_1

          one  two  three  four
Utah        8    9     10    11
New York   12   13     14    15

In [ ]:
# Drop columns : note columns are treated as axis 1 
DF_2 = DF.drop('two',axis=1)
# Display 
DF_2

          one  three  four
Ohio        0      2     3
Colorado    4      6     7
Utah        8     10    11
New York   12     14    15

## Sub setting  and indexing data  structures

### Indexing and subsetting Series

In [ ]:
#------------------------------------------------------------
#  Subselect data using indexing  - 1D Array 
#------------------------------------------------------------
# Create a numeric array of size 5
Ser1 =  Series(np.arange(5),index=['a', 'b', 'c', 'd','e'])
# Display the Series 
Ser1

a    0
b    1
c    2
d    3
e    4
dtype: int64

In [ ]:
#Index by Index Name directly
Ser1_Idx_b = Ser1['b']
# Display extract
Ser1_Idx_b

1

In [ ]:
# Use a Index range to Redefine Series elements 
Ser1['b':'d'] = 55
# Display after Re indexing 
Ser1

a     0
b    55
c    55
d    55
e     4
dtype: int64

### Subsetting and indexing on dataframes

In [ ]:
# Create data Frame Note: Matrix fills By Row as default 
DF = DataFrame(np.arange(16).reshape((4, 4)),
  index=['Ohio', 'Colorado', 'Utah', 'New York'],
  columns=['one', 'two', 'three', 'four'])

DF

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [ ]:
# Slice Two columns from DF 
# Note the Double Subscripting  to refer to columns 
DF_subset = DF[['two','three']]
# Display 
DF_subset

          two  three
Ohio        1      2
Colorado    5      6
Utah        9     10
New York   13     14

In [ ]:
# Replace all data  values less than 5 with zeros 
#--
DF[DF < 5] = 0
# Check replacement 
DF

          one  two  three  four
Ohio        0    0      0     0
Colorado    0    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

### Applying Functions to dataframe cols or rows

In [ ]:
df1 = DataFrame(np.arange(12.).reshape((3, 4)), columns=list('abcd'))
# Display 
df1

     a    b     c     d
0  0.0  1.0   2.0   3.0
1  4.0  5.0   6.0   7.0
2  8.0  9.0  10.0  11.0

In [ ]:
#  default - summary applied over cols 
#-------------------
MaxCol = np.max(df1)
print("col Max", MaxCol)
#  summary applied over rows 
MaxRow = np.max(df1,axis=1)
print("rowmax",MaxRow)

col Max a     8.0
b     9.0
c    10.0
d    11.0
dtype: float64
rowmax 0     3.0
1     7.0
2    11.0
dtype: float64

In [ ]:
# Define  inline function 
f = lambda x: x.max() - x.min()
Func_Res = df1.apply(f)
print(Func_Res)

a    8.0
b    8.0
c    8.0
d    8.0
dtype: float64

## Sorting for data structures

In [ ]:
# 1)  sorting lexicographically by index 
#----------------------------------------------
# define series  
df1 = Series(range(4), index=['d', 'a', 'b', 'c'])
#  Display 
df1

d    0
a    1
b    2
c    3
dtype: int64

In [ ]:
# Sort on index 
df1_sorted = df1.sort_index()
df1_sorted

a    1
b    2
c    3
d    0
dtype: int64

In [ ]:
# Sorting for 2D  Frame 
# Create a 2D DF
DF2 = DataFrame(np.arange(8).reshape((2, 4)), index=['three', 'one'],
 columns=['d', 'a', 'b', 'c'])
DF2

       d  a  b  c
three  0  1  2  3
one    4  5  6  7

In [ ]:
# Sort Index
DF2_Srted = DF2.sort_index()
# Display Sorted ( row index by default chosen )
DF2_Srted

       d  a  b  c
one    4  5  6  7
three  0  1  2  3

In [ ]:
# sort by col index 
DF2_col_srt = DF2.sort_index(axis=1)
# Display 
DF2_col_srt

       a  b  c  d
three  1  2  3  0
one    5  6  7  4

### End of Module - Pandas